/* Hero.css */
.hero {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    /* z-index: -1;  */
}

.hero-content {
    background-color: var(--dark-background);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.search-bar {
    display: flex;
    margin: 20px 0;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dee3e7;
    border-radius: 5px 0 0 5px;
}

.search-bar .search-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--search-button-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.link {
    text-decoration: none;

}

.home-product-card {
    width: calc(18% - 30px);
    margin: 15px;
    border-radius: 8px;
    padding: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 1200px) {

    /* Medium screens */
    .home-product-card {
        width: calc(33.33% - 30px);
        /* 3 cards per row */
    }
}

@media (max-width: 992px) {

    /* Small screens */
    .home-product-card {
        width: calc(50% - 30px);
        /* 2 cards per row */
    }
}

@media (max-width: 576px) {
    .home-product-card {
        width: calc(100% - 30px);
        /* 1 card per row */
    }
}

.image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 5px 20px 20px;
    height: 200px;
    object-fit: cover;

}

.cart-image-container {
    width: 50%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.cart-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    object-fit: cover;
}


.update-image-container img {
    width: 200px;
    height: 200px;
}

.product-text {
    color: #3c3a39;
    font-size: 20px;
}

.price {
    color: #151212;
    font-style: normal;
    font-weight: lighter;
}

/* HeroSlider.css */
.hero-slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    object-fit: cover;
    display: block;
}

/* Start product details page */
.product-details {
    display: flex;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.details-container {
    flex: 2;
}

.product-name {
    font-size: 22px;
    margin: 0;
}

.product-description {
    margin: 10px 0;
    color: rgb(69, 96, 75);
}

.rating {
    color: #ffd700;
    font-size: 16px;
    ;
}

.text-success {
    color: #28a745;
    font-weight: bold;
}

.cart {
    font-size: 1.5rem;
    color: #b2b6ba;
}

.quantity-input [input] {
    width: 60px;
}

.checkout-link:hover,
.shopping-link:hover {
    text-decoration: underline;
}

.checkout-links {
    display: flex;
    gap: 60px;
    font-size: 16px;
}

.checkout-form-title {
    color: #b2b6ba;
    font-style: italic;
    margin-bottom: 10px;
}

.remove-item {
    font-size: 14px;
}

.table-row {
    font-size: 16px;
}

/* End product details page */

/* Start the side bar */
.sidebar {
    position: sticky;
    top: 80px;
    height: 100vh;
}

/* End the side bar */

/* Start Buttons */
.buy-now-button {
    padding: 10px 20px;
    background-color: var(--dark-background);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-cart-button {
    padding: 10px 20px;
    background-color: var(--search-button-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: var(--dark-background)
}

.shopping-cart-icon {
    font-size: 28px;
}

.badge-overlay {
    position: absolute;
    top: 0;
    right: 0;
    color: #efecea;
    min-width: 50%;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #e68619;
}

.buy-button-container {
    display: flex;
    gap: 10px;
}

.home-shop-button,
.deals-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-shop-button:hover,
.deals-button:hover {
    background-color: #e64a19;
}

.home-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.shop-now-button {
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: var(--dark-background);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-now-button:hover {
    background-color: var(--search-button-color)
        /* Darker shade on hover */
}

/* End Buttons */


/* Start mega footer */
.mega-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
}

/* End mega footer */

/* Start navbar */
.nav-bg {
    background-color: #f1f0f0
}

.shop-home {
    color: var(--search-button-color);
    font-weight: 900;
}

/* End navbar */


/* Start sidebar */
.sidebar {
    padding: 1rem;
    background-color: var(--nav-background);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    margin: 0 20px;
    position: sticky;
}

.sidebar-container {
    display: flex;
}

.brand-list {
    list-style-type: none;
    padding: 0;
}

.brand-item {
    margin: 0.5rem 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    width: 20px;
    height: 20px;
    background-color: #be9898;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
}

.checkbox-container input:checked+.checkmark {
    background-color: var(--search-button-color);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked+.checkmark::after {
    display: block;
}

.checkbox-container .checkmark::after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* End sidebar */

/* product update form */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery>div {
    max-width: 20%;
    height: auto;
    margin: 5px;
}


:root {
    --search-button-color: #c38212;
    --dark-background: #000000b3;
    --nav-background: #f1f0f0;

    /* Default color */
}
